//
// Styles - NO BOOTSTRAP
//

@import 'normalize';

/* space-grotesk-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-grotesk-v22-latin-regular.woff2') format('woff2');
}
/* space-grotesk-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/space-grotesk-v22-latin-600.woff2') format('woff2');
}

// the major sections of our layout system
@import "variables/index";
@import "mixins/index";
@import "components/index";
@import "sections/index";
