$item-max-width-xs: 250px;
$item-max-width-md: 400px;


.gallery-about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem 0;
}

.centerer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#about {

    .img-small {
        background-color: var(--color-primary);
        // border: 3px solid var(--color-primary--300);
        max-width: 150px !important;
        margin: 0px auto 1rem auto;
        @include media-breakpoint-up(md) {
            max-width: $item-max-width-md;
        }
    }
    .caption {
        opacity: .6;
        font-size: 1rem;
        font-style: italic;
        max-width: $item-max-width-xs;
        @include media-breakpoint-up(md) {
                max-width: $item-max-width-md;
        }
    }
}

#about figcaption {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-medium {
    opacity: .6;
}

.about-text {
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(sm) {
            padding-left: 2rem;
    }
    @include media-breakpoint-up(md) {
        padding-left: 5rem;
    }
}

.media-image-left,
.media-image-right {
    display: flex;
    gap: 1rem;
    flex-flow: column;
    margin-bottom: 2rem;

    .cell-image {
        order: 1;
        flex: 1;
        text-align: center;

        img,
        span {
            margin-bottom: 1rem;
        }
    }

    .cell-text {
        order: 2;
        flex: 1;
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        gap: 2rem;
        flex-flow: row nowrap;
        width: 50%;
        margin: 0 auto 2rem auto;
        align-items: center;
    }
}

.media-image-right {

    // media element with image on right
    @include media-breakpoint-up(lg) {

        // on desktop: image align left, text-align right
        .cell-text {
            order: 1;
            text-align: right;
            flex: 4;
        }

        .cell-image {
            order: 2;
            text-align: left;

            img,
            span {
                margin-bottom: 0;
            }
        }
    }
}

.media-image-left {

    // media element with image on left
    @include media-breakpoint-up(lg) {
        // on desktop: image align left, text-align right
        flex-flow: row nowrap;

        .cell-image {
            order: 1;
            text-align: right;
            margin-bottom: 0;
        }

        .cell-text {
            order: 2;
            text-align: left;
            flex: 4;
        }
    }
}

@include media-breakpoint-up(lg) {
    .push-left {
        margin-left: 0 !important;
    }

    .push-right {
        margin-right: 0 !important;
    }
}

// plugs

.grid-plugs {
    display: grid;
    margin-left: 15px;
    margin-right: 15px;
    gap: 3;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 2rem;

    .icon {
        background-color: var(--white);
        color: var(--color-primary);
        padding: 13px 5px 5px 5px;
        text-align: center;
    }

    .cell {
        background-color: rgba(255, 255, 255, .5);
        color: var(--color-primary);
        padding: 5px;
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 5fr 1fr 5fr;
    }
}
