//
// Forms
//

form {
  margin-bottom: var(--space-heading-after);
}  


label {
    font-size: 1.5rem;
    color: $gray-600;
}

.btn {
    text-transform: uppercase;
}

.req {
    margin-left: .5rem;
    color: $tangerine;
}

.form-control {
  box-sizing: border-box;
}

// different style for labels like first or last name
.form-details label {
    text-transform: uppercase;
    font-size: .75em;
}


// Contact form validation styles
#contactForm {
  
   display: inherit;

  // Hide custom error messages by default
  .custom-error {
    display: none;
  }
  
  // Show error messages only when field is invalid
  .is-invalid + .custom-error,
  .is-invalid .custom-error {
    display: block;
  }
  
  // Style the error messages
  .custom-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }
  
  // Ensure checkbox container can show errors properly
  .form-group {
    position: relative;
    
    &.is-invalid {
      .form-check-input {
        border-color: #dc3545;
      }
    }
  }
  
  // Success/error message styling
  #submitSuccessMessage,
  #submitErrorMessage {
    // These should already be hidden with .d-none, but ensure they're hidden
    &.d-none {
      display: none !important;
    }
  }
  
  // Submit button disabled state
  #submitButton {
    &.disabled,
    &:disabled {
      opacity: 0.65;
      pointer-events: none;
    }
  }
  
  // Optional: Add some visual feedback for valid fields
  .is-valid {
    border-color: #198754;
    
    &:focus {
      border-color: #198754;
      box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
    }
  }
}