// Styling for the portfolio modals



.project-modal {
    display: none;
    
    &.show {
      display: block;
    }
    .btn-close {
        color: var(--color-primary);
        font-size: 2rem;
        padding: 1rem;
        background-color: transparent;
        border: none;
    }

    .portfolio-modal-image-main { // container for image
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .portfolio-modal-title {
        text-align: center;
        font-size: 2.25rem;
        line-height: 2rem;
        color: var(--color-primary);

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}

.case-controls {
    text-align: center;
    margin-bottom: 1.6rem;
}

.btn-closer {
    margin-right: 6px;
    margin-top: .5rem;
}

.btn-go {
    margin-left: .5rem;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050; // This should be higher than the backdrop
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
}

.modal-backdrop {
  transition: opacity 0.3s ease;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 1.75rem auto;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  
  // Center vertically and horizontally
  @include media-breakpoint-up(sm) {
    max-width: 90%;
  }
  
  // Large modal
  &.modal-lg {
    @include media-breakpoint-up(lg) {
      max-width: 85%;
    }
  }

  // Ensure it's centered vertically when modal is shown
  .modal.show & {
    transform: translate(0, 0);
  }

}

// Modal content should be clickable
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}